/*!
    Theme Name: {{title_ucfirst}}
    Theme URI: -
    Description: -
    Version: 1.0.0
    Author: MWGA
    Author URI:     
*/

@import 'variables';
@import 'mixins';
@import 'wpcore';
@import 'bootstrap';
@import 'base';

/* [inject tp] */

/* [inject pt] */