<!DOCTYPE html>
<html <?php language_attributes(); ?> class="no-js">
<head>
    <meta charset="<?php bloginfo( 'charset' ); ?>">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <?php wp_head(); ?>
</head>

<body <?php body_class(); ?>>

    <nav class="navbar fixed-top navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" href="<?php echo home_url('/'); ?>">Brand</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTopMenu" aria-controls="navbarTopMenu" aria-expanded="false" aria-label="Toggle navigation">
                =
            </button>     
            <div id="navbarTopMenu" class="collapse navbar-collapse">
                <?php wp_nav_menu( array(
                    'theme_location' => 'top',
                    'depth'             => 2,
                    'container'         => '',
                    'menu_id'        => false,
                    'menu_class'     => 'navbar-nav mx-auto',
                    'fallback_cb'       => 'WP_Bootstrap_Navwalker::fallback',
                    'walker'            => new WP_Bootstrap_Navwalker()
                ) ); ?>

                <a href="" class="button button-small">Aplikuj</a>
                
            </div>
        </div>
    </nav>   