app/uploads/
app/themes/{{theme_name}}/
wp/
wp-config.php
.htaccess
.vscode/
node_modules/
log.php
gulpconfig.yml
app/mu-plugins/ipresso-integration
app/mu-plugins/echo-plugin-update
app/mu-plugins/disable-gutenberg
app/mu-plugins/theme-file-name
app/mu-plugins/wp-sync-db-cli
app/mu-plugins/svg-support
app/mu-plugins/wp-sync-db
app/mu-plugins/acf
