{    
    "dir": {
        "src": "src/",
        "build" : "app/themes/{{theme_name}}/",
        "baseUrl" : "."
    },
    "autoprefixer": {
        "browsers": ["last 2 versions", "> 2%"]
    },
    "browsersync": {
        "proxy": "{{home_url}}",
        "port": "7001"
    },
    "wpsdb": {
        "profiles": [
            {
                "name": "<name (ex. DEV PULL)>",
                "connection_info": "<connection_info>",
                "replace_old" : ["<url>", "<path>"]
            }
        ]
    }
}