{    
    "dir": {
        "src": "src/",
        "build" : "app/themes/{{theme_name}}/",
        "baseUrl" : "."
    },
    "autoprefixer": {
        "browsers": ["last 2 versions", "> 2%"]
    },
    "browsersync": {
        "proxy": "{{home_url}}",
        "port": "7001"
    },
    "wpsdb": {
        "profiles": [
            {
                "name": "DEV PULL",
                "connection_info": "https://mwga:mwga@serwer1482529.home.pl/DEV/ECHO/echo-poznan.pl/wp\ns1EAVlUV+BXUmA1BY28vjU9OsPpqFpCX",
                "replace_old" : ["//serwer1482529.home.pl/DEV/ECHO/echo-poznan.pl", "/DEV/ECHO/echo-poznan.pl"]
            },
            {
                "name": "PROD PULL",
                "connection_info": "https://echo-poznan.pl/wp\nnUiE5qDonzq8JJBBq8M4QKGrjnYuH3rA",
                "replace_old" : ["//echo-poznan.pl", "/home/hosting/www/echo-poznan.pl/www"]
            }
        ]
    }
}