# BrowserSync customization file
# Should always be ignored in Git
PORT: 8000
PROXY: "localhost/{{slug}}"

# Autoprefixer settings
COMPATIBILITY:
  - "last 2 versions"
  - "ie >= 9"
  - "ios >= 7"

# Pass down paths to Gulp
PATHS:
  # Path to output directory
  dist: "app/themes/{{slug}}"
  # Path to fonts
  fonts:
    - "src/fonts/**/*"
  # Path to images
  images:
    - "src/images/**/*"
  # Paths to Sass libraries & custom files
  scss:
    lib:
      - "node_modules/swiper/scss/functions.scss"
      - "src/scss/lib/**/*.scss"
    custom:
      - "src/scss/**/*.scss"
      - "!src/scss/lib/**/*.scss" # exclude libraries
  # Paths to JavaScript lubraries & custom files
  scripts:
    lib:
      - "node_modules/angular/angular.js"
      - "node_modules/angular-route/angular-route.js"
      - "node_modules/angular-resource/angular-resource.js"
      - "node_modules/angular-cookies/angular-cookies.js"
      - "node_modules/bootstrap/dist/js/bootstrap.bundle.js"
      - "node_modules/waypoints/lib/jquery.waypoints.js"
      - "node_modules/swiper/js/swiper.js"
      - "src/js/lib/*.js"
    custom:
      - "src/js/*.js"      
  php:
    - "src/php/**/*.php"
  pdf:
    - "src/pdf/**/*.pdf"