{
  "name": "{{slug}}",
  "version": "1.0.0",
  "description": "",
  "main": "index.js",
  "scripts": {
    "dev": "gulp develop",
    "build": "gulp build",
    "icons": "node ./node_modules/icon-font-generator/bin/icon-font-generator src/svg/icons/*.svg -o src/fonts/ --csstp src/svg/icons/_icons.hbs --csspath src/scss/_icons.scss --cssfontsurl fonts/ --json false --html false --normalize true --center",
    "icons-preview": "node ./node_modules/icon-font-generator/bin/icon-font-generator src/svg/icons/*.svg -o src/fonts/ --csspath src/fonts/style.css  --json false --html true --normalize true --center"
  },
  "keywords": [],
  "author": "",
  "license": "ISC",
  "devDependencies": {
    "bootstrap": "^4.4.1",
    "browser-sync": "^2.26.7",
    "fs": "^0.0.1-security",
    "gulp": "^4.0.2",
    "gulp-autoprefixer": "^7.0.1",
    "gulp-clean-css": "^4.2.0",
    "gulp-concat": "^2.6.1",
    "gulp-ignore": "^3.0.0",
    "gulp-imagemin": "^6.2.0",
    "gulp-newer": "^1.4.0",
    "gulp-rimraf": "^1.0.0",
    "gulp-sass": "^4.0.2",
    "gulp-sequence": "^1.0.0",
    "gulp-sourcemaps": "^2.6.5",
    "gulp-uglify": "^3.0.2",
    "icon-font-generator": "^2.1.10",
    "js-yaml": "^3.13.1",
    "swiper": "^5.3.0",
    "waypoints": "^4.0.1",
    "angular": "^1.7.9",
    "angular-animate": "^1.7.9",
    "angular-cookies": "^1.7.9",
    "angular-resource": "^1.7.9",
    "angular-route": "^1.7.9"
  }
}
