# Spis Treści
- Konfiguracja
- Nowy projekt
- Istniejący projekt
- Developerka

# Konfiguracja
### Konfiguracja projektu znajduję się w pliku `config.json`

- Nadpisywanie konfiguracji lokalnie - zapisać plik `config.json` -> `local.config.json`

### Ustawienia `wp-db-sync` 

```json
"wpsdb": {
    "profiles": [
        {
            "name": "DEV PULL",
            "connection_info": "<connection_info>",
            "replace_old" : ["<url>", "<path>"]
        },
        {
            "name": "PROD PULL",
            "connection_info": "<connection_info>",
            "replace_old" : ["<url>", "<path>"]
        }
    ]
}
```
> UWAGA! wklejając `connection_info` zamienić enter na `\n`

z:
```json
"connection_info": "https://serwer1482529.home.pl/DEV/ECHO/echo-poznan.pl/wp
EAVlUV+BXUmA1BY28vjU9OsPpqFpCX",
```
na:
```json
"connection_info": "https://serwer1482529.home.pl/DEV/ECHO/echo-poznan.pl/wp\nEAVlUV+BXUmA1BY28vjU9OsPpqFpCX",
```

# Nowy projekt

Tworzenie nowego projektu: 
- instalacja wordpressa `wp project new`
- generowanie templatki bez plików źródłowych `wp project add theme <theme>`
- generowanie plików źródłowychy (src/, package.json, gulpfile.js, ...) `wp project add src`
> UWAGA! wszystkie pliki templatki znajdują się w katalogu src łącznie z .php, developerki dokonujemy tylko w katalogu `src/` pliki będą automatycznie kopiowane do katalogu `app/templates/<theme>/`, który jest poza repozytorium.

# Istniejący projekt

Odtwarzanie projektu z repozytorium
- sklonowanie istniejącego repozytorium `git clone ...`
- instalacja wordpressa `wp project install`
- synchronizacja bazy `wp project migrate`

> UWAGA! upewnić się, że w `config.json` ustawione są poprawnie `wpsdb": { "profiles": ... }`.

# Developerka
- instalacja modułów `npm install`
- praca developerska `gulp`
- tworzenia builda `gulp build`
- generowanie plików źródłowychy (src/, package.json, gulpfile.js, ...) `wp project add src`
- generowanie templatki bez plików źródłowych `wp project add theme <theme>`
- generowanie page-template `wp project add pt <slug>`
- generowanie template-part `wp project add tp <slug>`
- generowanie custom post_type `wp project add cpt <slug>`
- generowanie taxonomy post_type `wp project add tax <slug> <post_type>`
- generowanie shortcode `wp project add sc <slug>`

> UWAGA! nie usuwać linijki z `/* [inject <type>] */` służy do określenia miejesca wstrzykiwania kodu
