register_post_type( '{{slug}}',
    array(
        'labels' => array(
            'name' => __( '{{name}}'),
            'singular_name' => __( '{{title_ucfirst}}' ),
        ),
        'public' => true,
        'supports' => array( 'title' ),
        'capability_type' => 'page',
        'rewrite' => array('slug' => '{{slug}}'), 
        'menu_position' => 2,
        'menu_icon' => 'dashicons-id'
    )
);
